input[type = "text"]{
    outline: none;
    border: 3px solid gray;
    background-color: rgb(50, 15, 204);
    color: white;
}
#input3 {
    color: rgb(255, 255, 255);
    background-color: lightblue;
}