#unvisited:link {
    color: #2ecc71; 
    font-weight: bold;
}

#visited:visited {
    color: #ff0800; 
}

#hover:hover {
    color: white;
    background-color: #f39c12; 
    padding: 2px;
    border-radius: 20px;
}


#active:active {
    color: #3ce1e7; 
    border: 2px solid #ff1900;
}