.button{
    border-radius: 15px 30px;
    background-color: blue;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    
}

.button:hover{
    height: 50px;
    width: 110px;
}

.img {
    border-radius: 20px 20px 20px 20px ;

}

.img:hover{
    width: 400px;
    height: 200px;
}