#a:hover {
    color: black;
    text-decoration: none;
}
#a1 {
    color: black;
}

#a1:visited {
    color: rgb(25, 0, 255);
    text-decoration: none;
}

.g:link{
    color: red;
    text-decoration: none;
}

.g:visited{
    color: blue;
    text-decoration: none;
}
