p{
    color: blue;
    background-color: yellow;
}

div{
    background-color: black;
    color: white;
    text-align: center;
}

h4{
    color: blue;
    background-color: gray;
}

i{ 
    color: red;
}
